form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45vw;
    border: 1px solid grey;
    padding: 2rem;
    gap: 1rem;
    border-radius: 2rem;
}

form h2 {
    text-align: center;
}

.contact-page {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
   
   
}

input {
    height: 2rem;
    outline: none;
}
textarea{
    outline: none;

}

label {
    transform: translateY(11px);
}
.btnbox{
    display: flex;
    justify-content: center;
   margin-top:0.5rem;
}
.submit{
    padding:0.6rem;
    border-radius:1rem;
}
.logos{
    margin-top: 4rem;
 display: flex;
 justify-content: space-around;
 border-top:1px solid grey;
 padding:1rem;
}
.logos img{
    height:50px;
    width: 50px;
    mix-blend-mode: color-burn;
}
.madeby{
    text-align: center;
}
.github img{
    height: 40px;
    width: 40px;
}
@media (max-width:600px) {
    form{
        width:max-content;
    }
    
}