 body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
 }
 nav{
    top: 0;
    position: sticky;
    display: flex;
    justify-content: center;
    z-index: 1000;
   
 }
 ul{
    width: 75vw;
    list-style: none;
    display: flex;
    justify-content:space-around;
    align-items:center;
    background-color:rgb(9, 6, 6);
   padding:0.8rem;
   font-size:1.34rem;
   border-radius: 2rem;
   flex-wrap: wrap;
   gap:1rem;
  
   
 }
#link{
     text-decoration: none;
     color: white;
    
    
 }
 .active-link{
 font-weight:bolder;
 font-size:1.5rem;
 
 }
 @media (max-width:800px) {
   ul{
      width:100vw;
      font-size:1.2rem;
      justify-content: center;
     padding: 1rem;
     
   
   }
  
   
 }
 