body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 scroll-behavior: smooth;
 
}

.home-page {
  position: relative;
  top: 4rem;
  gap:1rem;
  margin: auto;
  height:70vh;
  /* width:70vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rbtn:hover{
 scale:1.2;
}
.hbtn:hover{
 scale:1.2;
}
.home-page h1 {
  font-size: 2.2rem;
  border-bottom: 1px solid black;
  padding:0.5rem;

}
.passion{
  text-align: center;
letter-spacing: 1px;
}

.home-page .typewritter{
   font-size: 2.8rem;
  background: linear-gradient(90deg, #ff007f, #8a2be2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  border-right: 3px solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 2px;
  animation: typing 3s infinite, blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;

  }

  to {
    width:36%;
  }
}

@keyframes blink {

  from,
  to {
    border-color: black
  }

  50% {
    border-color: white
  }
}
.btns{
  margin-top: 2rem;
 display: flex;
 gap:2rem;
}
button{
  padding: 0.35rem;
  border:1px solid black;
  border-radius: 0.5rem;
}
@media (max-width:800px) {
  
 .home-page .typewritter{
    /* font-size:1.8rem; */
  }
  .home-page h1{
    font-size: 1.65rem;
  }
  @keyframes typing {
  from {
    width: 0;

  }

  to {
    width:90%;
  }
}
  
}