body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 2rem;
   
}
.container{
    margin-top:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem;
   
}
.project{
    padding: 2.8rem;
     display: flex;
    justify-content: center;
    gap:2rem;
     border-radius: 2rem;
}

.ab{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border: 0.2px solid grey;
   padding: 1rem;
   border-radius: 2rem;
    cursor: pointer;
}

.ab:hover{
    box-shadow: 2px  2px 4px 0px grey;
    scale:0.99
}

.live img{
    height: 100%;
    width: 100%;
    border-radius: 1.2rem;
}
@media (max-width:600px) {
    .project{
     flex-direction: column;
      padding: 2rem;
      border: 1px solid grey;
    }
    .ab{
        border: none;
    }
.live{
    text-align: center;
        border: none;
       
    }
    .live img{
    height:80%;
    width:80%;
   
}
}
